/* Barra de Navegación */
.navbar {
    padding: 2rem;
    background-color: beige;
}

.navbar-collapse {
    align-items: center;
}

.navbar-nav {
    margin-left: auto; 
}

/*Estilos generales*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem; 
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.seccion-oscura {
    color: white;
    background-color: #000000;
}

.seccion-clara {
    color: #000000;
    background-color: white;
}

.card-titlefw-bold {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Doodle Shadow', cursive;
}

.card-text {
    font-size: 1.2rem;
}

.rubik-doodle-shadow-regular {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
}


/*Hero*/
.hero {
    background-color: aliceblue;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-iamgen-programador{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: grey;
}

/*Sobre mi*/

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/*Proyecto*/

.proyecto {
    padding: 40px 40px 60px 40px;
}

.proyecto-card {
  border: 3px solid aquamarine;   
  min-height: 250px;             
  display: flex;                  /* Para centrar el texto */
  align-items: center;
  justify-content: center;
  border-radius: 8px;             
  transition: 0.3s;              
}

.proyecto-card:hover {
  transform: scale(1.02);         /* Efecto al pasar el mouse */
}

.hero-inferior-imagen {
    width: 350px;
    height: auto; 
    display: block; 
    margin: 20px auto; 
}

.proyecto-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge{
    margin: 5px;
}

.proyecto i{
    font-size: 2.5rem;
    color: rgb(21, 156, 134);
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}


/* Ajustes para móviles */
@media screen and (max-width: 750px) {
    .navbar-brand {
       display: none;
    }
}

@media screen and (min-widht: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
    
}
